# Composer
/vendor/
composer.lock

# Symfony var (cache, logs, sessions)
/var/

# PHPUnit
.phpunit
.phpunit.result.cache
.phpunit.cache/
/phpunit.xml
/tests/cache/

# PHPStan
.phpstan/

# PHP CS Fixer
.php-cs-fixer.cache
.php-cs-fixer.php

# Coverage reports
coverage/
coverage.xml
*.clover

# Environment files
.env
