# Composer
/vendor/
composer.lock

# Symfony var (cache, logs, sessions)
/var/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
.phpunit.cache/
/phpunit.xml
/tests/cache/
###< symfony/phpunit-bridge ###
